.grayimg {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray;
}

header, main, footer {
  padding-left: 300px;
}

@media only screen and (max-width: 992px) {
  header, main, footer {
    padding-left: 0;
  }
}

#slide-menu {
  display: none;
}

@media only screen and (max-width: 992px) {
  #slide-menu {
    display: inline;
  }
}

div.reader h1 {
  font-size: 2.6rem;
  opacity: 1;
}

iframe{
  width: 100%;
}

.brand-logo {
  padding-left: 100px;
  padding-top: 32px
}

.sidenav {
  border: 1px solid rgba(0, 0, 0, 0.14);
}

nav.top-nav {
  height: 110px;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.14);
  background-color: transparent
}

.pink-font {
  color: rgb(255, 97, 96);
}

h1.nav {
  font-size: 2.9rem;
}

hr {
  color: rgba(0, 0, 0, 0.14);
}

@keyframes fadeaway {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadein2 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.9;
  }
}

@keyframes jumpin {
  0% {
    top: 100%;
  }
  100% {
    top: 0px;
  }
}

@keyframes jumpout {
  0% {
    top: 0px;
  }
  100% {
    top: 100%;
  }
}

.reader {
  width: 90%;
  margin: 0 auto;
}

#test-active-bkgdiv {
  position: absolute;
  display: none;
  background-repeat: repeat;
  background-size: 100%;
  overflow: hidden;
  width: 100%;
  padding-left: 0px;
  height: 100%;
  background-color: #EFEFED;
}

#test-active {
  position: absolute;
  overflow-y: auto;
  height: 100%;
  display: none;
  width: 55%;
  bottom: 0px;
  left: 0;
  right: 0;
  position: fixed;
  background-color: #fafafa;
  margin: auto;
  margin-top: 0;
  border-radius: 6px;
  opacity: 1;
  padding-left: 0px;
  line-height: normal;
  background: rgba(255, 255, 255, 0.7);
}

@media only screen and (max-width: 992px) {
  #test-active {
    width: 100%;
  }
}

#tab1 {
  display: block;
}

#tab2 {
  display: none;
}

#tab3 {
  display: none;
}

#tab4 {
  display: none;
}

#tab5 {
  display: none;
}

/*#top-nav{
  display: none;
}*/